* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto';
    font-weight: 700;
}

a {
    color: white;
    text-decoration: none;

}

/* HEADER STYLINGS START HERE */

header {
    background-color: black;
    width: 100%;
    padding: 16px 28px;
    color: white
}

.header-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.name {
    font-style: normal;
    font-size: 24px;
    line-height: 28px;
}

.nav-flex {
    display: flex;
    gap: 31px;
}

/* HEADER STYLINGS END HERE */

/* HERO STYLINGS START HERE */

.hero {
    width: 100%;
    height: 720px;
    background-image: url("/assets/images/hero-image.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.hero-text {
    width: 875px;
    height: 104px;
    margin: 0 auto;
    padding-top: 308px;
    color: #FFFFFF;
    font-size: 96px;
    line-height: 112px;
    text-align: center;
}

/* HERO STYLINGS END HERE */

/* CONTENT STYLINGS START HERE */


.content {
    padding: 82px 91px 80px 90px
}

.calendar {
    padding: 22px auto 22px 26px;
}

.button {
    border: 2px solid #A6A6A6;
    font-size: 24px;
    line-height: 28px;
    padding-left: 26px;
    padding-top: 22px;
    padding-bottom: 22px;
    color: #353535;
    box-shadow: inset 5px 5px 5px rgba(255, 255, 255, 0.15), inset -5px -5px 5px rgba(0, 0, 0, 0.15);
    display: block;
    width: 100%;
    border-radius: 3px;
    display: block;
}
    
.cards {
    max-width: 1200px;
    margin: 0 23px 0 26px
}

/* THIS IS A FLEXBOX */
.card {
    margin-top: 54px;
    display: flex;
    justify-content: space-between;
}

.text-box {
    width: 541px;

}

.text-box h3 {
    font-size: 36px;
    line-height: 42px;
    transition: all 1.5s ease-out;
}

.text-box h3:hover {
    color:rgb(180, 0, 0)

}

.read-more {
    width: 211px;
    height: 65px;
    background: #F0BB00;
    border: 1px solid #A07d00;
    color: #000000;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    align-self: center;
    box-shadow: inset 5px 5px 5px rgba(255, 255, 255, 0.15), inset -5px -5px 5px rgba(0, 0, 0, 0.15);
    background: linear-gradient(to right, #F0BB00 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all 1.5s ease-out;
}

.read-more:hover {
    background-position: left bottom;
    color:white;
}


/* CONTENT STYLINGS END HERE */

/* FOOTER STYLINGS START HERE */

footer {
    background-color: #000000;
    color: #ffffff;
    height: 450px;
    padding: 78px 116px;
    display: flex;
    align-items: row;
}

.map {
    margin-right: 43px;
    height: 271px;
    width: 291;
}


.footer-cards-flex {
    display: flex;
    gap: 13px;
    width: 760
}

.footer-card h3 {
    font-size: 36px;
    line-height: 42px;
}

.footer-card p {
    font-size: 20px;
    line-height: 23px;
    margin-top: 5.5px;
    margin-bottom: 5.5px;
    width: 212px;
    height: 51px;

}

/* FOOTER STYLINGS END HERE */